sai/src/main/mule/ramu.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="bbad6e2e-bb1a-4f7d-9d15-2b8e3f1bbba7" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="1ea26c1f-47e5-49aa-87ff-b87c3412153e" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="ravi@123" database="foreeach" />
	</db:config>
	<flow name="ramuFlow" doc:id="d27edfa2-ce82-4ebd-9fb6-77f6f6fb3afc" >
		<http:listener doc:name="Listener" doc:id="202bb242-728a-4b32-ad52-120b679903b3" config-ref="HTTP_Listener_config" path="ramu"/>
		<ee:transform doc:name="Transform Message" doc:id="72ad7666-1c36-40fe-820b-3586b8354d3c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
1 to 300 map {
	
	empid: 100+ $$,
	empname: "siva",
	empage:123
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<batch:job jobName="ramuBatch_Job" doc:id="58f13380-16a6-4993-a952-1d297931ba71" >
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="df184601-e291-4c16-8db6-4a1193800f40" >
					<batch:aggregator doc:name="Batch Aggregator" doc:id="30b3ce93-2a84-4619-a6f9-4f02ebec93af" size="10">
						<logger level="INFO" doc:name="Logger" doc:id="fc658e17-3639-4e48-afc9-c7338c7a3638" message="payload"/>
						<db:bulk-insert doc:id="2135dded-81e9-4994-8fcb-22a830f346b2" config-ref="Database_Config">
							<db:sql ><![CDATA[insert.into.foreeach.emp {empid, empname, empage} value {:empid, :empname, :empage };]]></db:sql>
						</db:bulk-insert>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<ee:transform doc:name="Transform Message" doc:id="c12292f1-5a48-4a5b-be98-a887ba11bc5f" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="14e56a4a-d858-4fb7-8158-858b19cc8bb6" message="#[payload]"/>
			</batch:on-complete>
		</batch:job>
	</flow>
</mule>
